.nav-logo {
  width: 90px;
  height: auto;
}
.loader {
  margin-top: 30vh;
}

.footer-m {
  margin-top: 200px;
}

.header {
  margin-top: 180px;
  font-weight: 700;
  margin-bottom: 30px;
  font-size: 35px;
}
